* {
    margin: 0;
 }



.achtergrondfoto{
    width: 100%;
    height: 100vh; /*viewport height*/                      
    background-size: cover; /*grootte achtergrond foto*/
    background-position: center;
    background-image: url(Images/rijksmuseumfoto.png);
    position: relative;
}


.navigatie{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: white;
}

/*indeling navigatie*/
.navigatie ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

/*navigatie tekst eigenschappen*/
.navigatie ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
}

/*navigatie balkjes*/
.navigatie ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(221, 89, 89);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

/*animatie van de balkjes*/
.navigatie ul li:hover::after{
    width: 100%;

}


.fronttext{
    text-align: center;
    width: 100%;
    position: absolute;
    color: white;
    transform: translateY(-50%);
    top: 50%;
}








button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
}

/*knop animatie*/
button:hover{
    background-color: rgb(255, 95, 95);
    transition: 1s;
}


/*mobiele opties*/
@media(max-width: 700px){
    .fronttext{
        font-size: 20px;
    }
    .navigatie ul li{
        display: block;
    }
    .navigatie{
        display: flex;
        position: absolute;
        background: rgb(255, 103, 103);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        justify-content: right;
        line-height: 50px;
        
    }
}



/*-------------------MIDDELPAGINA-------------------*/


.middelpagina{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
}


.rij{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.tentoonstelling1{
    flex-basis: 31%;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    background-image: url(Images/nachtwacht1.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
    position: relative;
    color: white;
    text-align: left;
    padding-top: 245px;
    cursor: pointer;
    transition: 0.2s transform;
}


.tentoonstelling2{
    flex-basis: 31%;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    background-image: url(Images/hogeluchten.webp);
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
    position: relative;
    color: white;
    text-align: left;
    padding-top: 245px;
    cursor: pointer;
    transition: 0.2s transform;
}


.tentoonstelling3{
    flex-basis: 31%;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    background-image: url(Images/cuypers\ boekenkast.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
    position: relative;
    color: white;
    text-align: left;
    padding-top: 245px;
    cursor: pointer;
    transition: 0.2s transform;
}

.tentoonstelling1:hover, .tentoonstelling2:hover, .tentoonstelling3:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 700px){
    

    .rij{
        flex-direction: column;
    }
}

/*-------------------Geschiedenis-------------------*/

.Geschiedenis{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.text{
    text-align: left;
    font-family: sans-serif;
}


/*-------------------FOTO-SLIDER-------------------*/

* {box-sizing: border-box;}

.foto-text{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}


.container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-top: 50px;
}

.mySlides{
    align-items: center;
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    background: rgb(238, 82, 82);
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 22px;
}

.prev:hover, .next:hover{
    background-color: rgba(253, 98, 98, 0.445);
}


img{
    border-radius: 10px;
    color: white;
    text-align: left;
    transition: 0.2s transform;
    align-items: center;

}

html {
    scroll-behavior: smooth;
  }











@media(max-width: 700px) {
    .mySlides{
        max-width: 100%;
        height: auto;
        padding: 40px

    }

    .prev, .next{
        margin: 40px;
        top: 50%;
    }
} 









