* {
    margin: 0;
 }



.achtergrondfoto{
    width: 100%;
    height: 100vh; /*viewport height*/                      
    background-size: cover; /*grootte achtergrond foto*/
    background-position: center;
    background-image: url(Images/rijksmuseumfoto.png);
    position: relative;
}


.navigatie{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/*indeling navigatie*/
.navigatie ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

/*navigatie tekst eigenschappen*/
.navigatie ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
}

/*navigatie balkjes*/
.navigatie ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(221, 89, 89);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

/*animatie van de balkjes*/
.navigatie ul li:hover::after{
    width: 100%;

}


.fronttext{
    text-align: center;
    width: 100%;
    position: absolute;
    color: white;
    transform: translateY(-50%);
    top: 50%;
    text-transform: uppercase;
    font-family: sans-serif;
}


.logo{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    display: flex;
}

.logo > img{
    width: 200px;
    border-radius: 0px;
}

#myTitle{
    margin-left: 250px;
}

#myInput{
    position: relative;
    top: 175px;
    left: 270px;
}

#voerIn{
    position: relative;
    top: 175px;
    left: 275px;
    color: black;
    background: transparent;
    border-color: black;
}

#voerIn:hover{
    background: rgb(83, 83, 83);
    cursor: pointer;
    color: white;
}

.interactive{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    top: 150px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid white;
    background: rgb(106, 185, 99);
    color: white;
    cursor: pointer;
}

/*knop animatie*/
button:hover{
    background-color: transparent;
    transition: 1s;
}


.menu{
    visibility: hidden;
    display: none;
    color: white;
    font-size: 50px;
    padding-left: 650px;
    z-index: 9;
}




/*mobiele opties*/
@media(max-width: 800px){
    .fronttext{
        font-size: 20px;
    }
    .navigatie ul li{
        display: block;
        justify-content: center;
        align-items: top;
        bottom: 150px;
        z-index: 10;
    }


    .navigatie ul li::after{
        content: none;
        height: 0px;
        width: 0;
        background: rgb(221, 89, 89);
        position: absolute;
        left: 0;
        bottom: -5px;
        transition: 0.5s;
    }
    





  

    .navigatie{
        display: flex;
        position: absolute;
        background: rgb(255, 103, 103);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        justify-content: right;
        line-height: 50px;
        opacity: 1.0;
        visibility: hidden;
        opacity: 0;
        transition: 0.75s all;
    }

    .menu{
        display: flex;
        position: absolute;
        height: 100vh;
        width: 200px;
        visibility: visible;
    }

    .logo{
        visibility: hidden;
    }
    


}



/*-------------------MIDDELPAGINA-------------------*/


.middelpagina{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: sans-serif;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

h2{
    font-size: 36px;
    font-weight: 600;
}



p{
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
}


.rij{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.tentoonstelling1{
    flex-basis: 31%;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    background-image: url(Images/nachtwacht1.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
    position: relative;
    color: white;
    text-align: left;
    padding-top: 245px;
    cursor: pointer;
    transition: 0.2s transform;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}







.tentoonstelling2{
    flex-basis: 31%;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    background-image: url(Images/hogeluchten.webp);
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
    position: relative;
    color: white;
    text-align: left;
    padding-top: 245px;
    cursor: pointer;
    transition: 0.2s transform;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.tentoonstelling3{
    flex-basis: 31%;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    background-image: url(Images/xxlpapier.webp);
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
    position: relative;
    color: white;
    text-align: left;
    padding-top: 245px;
    cursor: pointer;
    transition: 0.2s transform;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tentoonstelling1:hover, .tentoonstelling2:hover, .tentoonstelling3:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 800px){
    

    .rij{
        flex-direction: column;
    }

    .tentoonstelling1{
        flex-basis: 31%;
        background: transparent;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 20px 12px;
        box-sizing: border-box;
        background-image: url(Images/nachtwacht1.jpg);
        background-size: cover;
        background-position: center;
        height: 40vh;
        width: 100%;
        position: relative;
        color: white;
        text-align: left;
        padding-top: 245px;
        cursor: pointer;
        transition: 0.2s transform;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    

    .tentoonstelling2{
        flex-basis: 31%;
        background: transparent;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 20px 12px;
        box-sizing: border-box;
        background-image: url(Images/hogeluchten.webp);
        background-size: cover;
        background-position: center;
        height: 40vh;
        width: 100%;
        position: relative;
        color: white;
        text-align: left;
        padding-top: 245px;
        cursor: pointer;
        transition: 0.2s transform;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

/*-------------------Openingstijden-----------------*/

.Openingstijden{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: sans-serif;
    padding-bottom: 25px;
}

.OpeningstijdenText{
    text-align: center;
    font-family: sans-serif;
}



/*-------------------Geschiedenis-------------------*/

.Geschiedenis{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.text{
    text-align: left;
    font-family: sans-serif;
    width: 50vw;
}



/*-------------------FOTO-SLIDER-------------------*/

* {box-sizing: border-box;}

.foto-text{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: sans-serif;
}


.container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-top: 50px;
}

.mySlides{
    align-items: center;
    display: none;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    background: rgb(238, 82, 82);
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 0px;
}

.prev:hover, .next:hover{
    background-color: rgba(253, 98, 98, 0.445);
}


img{
    border-radius: 10px;
    color: white;
    text-align: left;
    transition: 0.2s transform;
    align-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 500px;
}



html {
    scroll-behavior: smooth;
  }

  ul{
      list-style: none;
  }


.top{
    width: 70px;
    height: 70px;
    background: #3d3d3d;
    border: none;
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 40px;
    color: white;
    position: fixed;
    bottom:120px;
    right:120px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top:hover{
    background: #3d3d3d69;
    transform: scale(1.05);
    transition: 0.2s;
}

/*-------------------FOOTER-------------------*/

footer{
    height: 250px;
    display: flex;
    align-items: center;
    background: #1a1818;
    color: white;
}
  

footer > p{
    width: 60vw;
    margin: 0 auto;
    padding-left: 80px;
    font-family: sans-serif;
    display: block;
    line-height: 20px;
    columns: 3;
}

footer > img{
    width: 30px;
    height: 30px;
    margin-right: 50px;
    position: relative;
    top: 60px;
    cursor: pointer;
}

footer > img:hover{
    opacity: 0.5;
}



.github:hover{
    opacity: 0.5;
}

.github{
    width: 50px;
    height: 50px;
    position: relative;
    top: 60px;
    margin-right: 50px;
}

/*-------------------REVIEWS-------------------*/

.collectionsTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 50px;

}

.collectionsListP{
    font-size: 20px;
}



    


.collectionsList{
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.collectionsListItem{
    width: 450px;
    height: 350px;
    flex-shrink: 1;
    flex-grow: 1;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
    margin-right: 50px;
    border-radius: 50px;
    

}

.collectionsListItem:hover{
    border: 4px solid rgb(221, 89, 89);
    transition: 0.25s;
}





h2{
    font-family: sans-serif;
}

.reviewTitle{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-top: 75px;
    padding-right: 40px;
    font-size: 30px;
}












@media(max-width: 800px) {
    .mySlides{
        max-width: 100%;
        height: auto;
        padding: 40px;
        box-shadow: none;
    }

    .prev, .next{
        margin: 40px;
        top: 50%;
    }
    .top{
        right: 40px;
        bottom: 20px;
        margin-bottom: 60px;
    }
} 



/*-------------------INTERACTIEVE-ROUTE-------------------*/


#container{
    position: relative;
}





#myInteraction{
    padding: 10px;
}


#mapImage{
    position: relative;
    bottom: 323px;
    left: 10px;
    height: 200px;
    width: 200px;
    margin-left: 1050px;
    transition: transform .5s ease-in;
    transform-origin: bottom right;
    opacity: 0.9;
    border-radius: 0px;
}

#mapImage:hover {
    transform: scale(2);
    opacity: 1; 
  }








#knopNoord{
    margin-left: 300px;
    background-color: rgb(238, 82, 82);
    color: white;
    font-size: 16px;
    padding: 12px;
    border-radius: 0px;
    width: 50px;
    border-color: transparent;
    position: relative;
    bottom: 548px;
    left: 400px;
}

#knopOost{
    margin-left: 500px;
    background-color: rgb(238, 82, 82);
    color: white;
    font-size: 16px;
    padding: 12px;
    border-radius: 0px;
    width: 50px;
    border-color: transparent;
    position: relative;
    bottom: 290px;
    left: 262px;
}

#knopZuid{
    background-color: rgb(238, 82, 82);
    color: white;
    font-size: 16px;
    padding: 12px;
    border-radius: 0px;
    width: 50px;
    border-color: transparent;
    position: relative;
    bottom: 93px;
    right: 312px;
}

#knopZuid{
    background-color: rgb(238, 82, 82);
    color: white;
    font-size: 16px;
    padding: 12px;
    border-radius: 0px;
    width: 50px;
    border-color: transparent;
    position: relative;
    bottom: 93px;
    right: 312px;
}


#knopWest{
    background-color:rgb(238, 82, 82);
    color: white;
    font-size: 16px;
    padding: 12px;
    border-radius: 0px;
    width: 50px;
    border-color: transparent;
    position: relative;
    bottom: 290px;
    right: 125px;
}


#knopNoord:hover, #knopWest:hover, #knopOost:hover, #knopZuid:hover{
    background-color: rgb(150, 70, 70);
}









#myImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 260px;
    max-width: 1000px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 200px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



Input{
    background: rgba(161, 161, 161, 0.212);
    border-radius: 10px;
}


@media screen and (max-width:800px) {
    #myImage{
        width: 100%;
        margin-left: 0px;
        height: 400px;
        padding: 40px;
        box-shadow: none;
    }

    #mapImage:hover {
        transform: scale(2.4);
        opacity: 1; 
      }
    

    #mapImage{
        flex-wrap: wrap;
        background-size: contain;
        margin-left: 1px;
        left: 510px;
        bottom: 388px;
        height: 140px;
        width: 150px;
    }
    #knopNoord{
        bottom: 408px;
        left: 25px;
    }
    
    #knopOost{
        bottom: 358px;
        left: 99px;
    }
    
    #knopZuid{
        bottom: 100px;
        right: 300px;
    }

    #knopZuid{
        bottom: 220px;
        right: 255px;
    }
    #knopWest{
        right: 344px;
        bottom: 275px;
    }

    #myTitle{
        position: relative;
        right: 200px;
        bottom: 40px;
    }

    #myInput{
        position: relative;
        left: 40px;
    }

    #voerIn{
        position: relative;
        left: 45px;
    }

    
} 

